<% if (title) {%>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
  <%- messages() %> <!-- This is a custom middleware function that displays flash messages -->

  <form class="contact-form" action="/account/contact" method="POST">
    <label for="sender_name">Name:</label>
    <input type="text" id="sender_name" name="sender_name" required>
    
    <label for="sender_email">Email:</label>
    <input type="email" id="sender_email" name="sender_email" required>
    
    <label for="message_content">Message:</label>
    <textarea id="message_content" name="message_content" required></textarea>
    
    <button type="submit">Send Message</button>
  </form>
