<% if (title) {%>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
<!-- Display flash message if available -->
<%- messages() %>

<% if (accountData.account_type === 'Employee' || accountData.account_type === 'Admin') { %>
   
    <h2>Welcome <%- account_firstname %></h2>
    <!-- Content for the account management page -->
    <p>You're logged in.</p>
    <p><a href="#">Edit Account information</a></p>
    <h2>Inventory management</h2>
    <p><a href="/inv/">Management Inventory.</a></p>

<% } else { %>

    <h2>Welcome <%- account_firstname %></h2>
<!-- Content for the account management page -->
    <p>You're logged in.</p>
    <a href="#">Edit Account information</a>

<% } %>

