<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to CSE Motors!</h1>
    <div>
        <img src="./images/vehicles/delorean.jpg" alt="heropic" hieght="600" width="500">  
        <h3>DMC Delorean</h3>
        <p>3 Cup holder
            Superman doors
            Fuzzy dice!
        </p>
        <button>Own Today</button>
    </div>
    <div>
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time"(4/5)</li>
            <li>"Coolest ride on the road"(4/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic ride of our day"(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>

    </div>
    <div>
        <h4>Delorean Upgrades</h4>
        <img src="./images/Upgrades/flux-cap.png" alt="">
        <img src="./images/Upgrades/flame.jpg" alt="">
        <img src="./images/Upgrades/bumper_sticker.jpg" alt="">
        <img src="./images/Upgrades/hub-cap.jpg" alt="">
    </div>
</body>
<footer>

</footer>
</html>